html {
  line-height: 1.2em;
    font-family: Montserrat, Roboto, Arial, sans-serif;
}

body {
  background-color: #6887a1; 
  color: #FFFFFF; 
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

form {
    font-size: 1.4em;	
    padding-top: 2em; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-group {
  margin-bottom: 1.5em;
  text-align: center;
}

label {
  font-size: 1em;
  display: block;
  margin-bottom: 0.5em;
}

fieldset {
    margin: 0 0.7em;
    padding: 0.5em;
    border-radius: 2em;
    line-height: 2em;
	border-color: black;
	border-width: 0.4em;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 2em;
  color: black;
  line-height: 1.2;
}


#submitbutton {
  color: black;
  font-size: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
  width: 50%;
  margin-top: 2em;
  font-weight: 600;
  background-color: #3275af;
}

input#submitbutton{
	width: auto;
    padding: 30px 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="email"] {
  width: 80%;
  padding: 0.4em;
  font-size: 0.7em;
  border: 2px solid #000000;
  border-radius: 0.5em;
  margin-top: 0.5em;
}

@media (min-width: 480px) {
  body {
    font-size: 17px; 
  }

  h1 {
    font-size: 2.2em;
  }

  form {
    width: 90%; 
  }

  input[type="text"], input[type="email"] {
    font-size: 1.1em; 
  }

  #submitbutton {
    font-size: 1.3em;
  }
}

@media (min-width: 992px) {

  h1 {
    font-size: 3.5em;
  }

  form {
    width: 70%; 
    margin: 3em auto; 
  }

  input[type="text"], input[type="email"] {
    font-size: 1.2em;
  }

  #submitbutton {
    font-size: 1.4em; 
  }
  
  label{
	  font-size: 1.5em;
  
}