body {	
	background-color: #6887a1;
    font-family: Montserrat, Roboto, Arial, sans-serif;
    text-align: center;
}

form {
    font-size: 1.1em;
    padding-top: 2em; 
    display: block;
}
fieldset {
    margin: 0 0.7em;
    padding: 0.5em;
    border-radius: 1em;
    line-height: 2em;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

#submitbutton {
	font-size: 2em;
    margin-top: 1em;
    padding: 0.5em 2em;
	border-radius: 1em;
}